* {
  margin: 0;
  padding: 0;
  background: rgba(231, 246, 252, 0.179);
  font-family: 'Roboto', sans-serif;
}

html {
  display: flex;
  flex-direction: column;
}

/* Header */
.coursearch-masthead {
  border-top: 5px solid rgb(232, 10, 10);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.coursearch-masthead-branding {
  padding: 4em 2em;
  margin: 0 8em 2em 8em;
  min-width: 80vw;
  font-size: 1.5em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.coursearch-masthead-branding a {
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  color: black;  
}

.coursearch-masthead-branding span {
  font-weight: 500;
}


/* Main Description */
.coursearch-main { 
  width: 100vw;
  min-width: 5vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coursearch-header {
  margin: 0 8em 2em 8em;
  min-width: 80vw;
  font-size: 28px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(109, 109, 109);
  text-align: center;
  font-weight: 100;

}

.description {
  min-width: 80vw;
  margin: 0 20em 2em 20em;
  font-size: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  font-weight: 100;
}

/* Course Search Field */
.coursearch-searchfields {
  position: sticky;
  top: 0;
  min-width: 80vw;
  padding: 3em 0;
  margin: 0 3em 1em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 227, 231);
  border-radius: 6px;
  z-index: 100;
  border: 1px solid rgba(110, 109, 109, 0.311);
}


.searchbar {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1em 2em;
  gap: 20px;
}

.searchbar label {
  background-color: transparent;
}

.searchbar section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.searchbar input {
  border-radius: 5px;
  padding: 6px
}

.coursearch-searchfields-keyword-field {
  min-height: 2em;
}

.coursearch-searchfields-semester-select {
  min-height: 2em;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1em 2em;

}

.search {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: .5em;
  color: white;
  background-color: #e95252;
  transition: 300ms;
}

.search:hover {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: .5em;
  color: white;
  background-color: rgb(219, 60, 60);
}

@media (max-width: 700px) {
  .coursearch-searchfields {
    display:block;
  }
  .search {
    width: 100%;
  }
}


/* Additional Information */
.additional-info {
  min-width: 80vw;
  padding: 3em 0;
  margin: 0 3em 10em 3em;
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: rgb(219, 227, 231);
  border-radius: 6px;
  flex-direction: column;
}

.additional-info button {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: rgb(211, 54, 54);
  cursor: pointer;

}

.additional-info button:hover {
  text-decoration: underline;
}

.additional-info strong {
  background-color: transparent;
}




/* Additinal Info Dropdown */
.hidden-dropdown-menu {
  min-width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.additional-info-dropdown {
  display: none;
  display: flex;
  flex-direction: column;
}

.additional-dropdown-input-first-section {
  display: flex;
  justify-content: center;
  background: transparent
}

.additional-dropdown-options-first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  background: transparent;
}

.additional-searchbar {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1em 2em;
  gap: 20px;
  width: 60%;
}

.additional-searchbar label {
  background-color: transparent;
}

.additional-searchbar section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.additional-searchbar input {
  border-radius: 5px;
  padding: 6px
}

/* DELETED CSS GOES HERE */

/* COLLEGE CHECBOXES */
.colleges {
  margin-left: 2em;
  background: transparent;
}

.outter-checkbox-container {
  width: 80vw;
  height: auto;
  position: relative;
  background: transparent;
}

.inner-checkbox-container {
  background: transparent;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 2em;
  justify-items: center;
}

@media (max-width: 558px) {
  .inner-checkbox-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 500px) {
  .inner-checkbox-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.inner-checkbox-container input {
  width: 1.4em;
  height: 1.4em;
}

.inner-checkbox-container label {
  font-size: 1.2em;
}


/* BU HUB COURSES CHECKBOXES*/
.bu-hub-areas {
  width: 80vw;
  margin-top: 4em;
  background: transparent;
}

.bu-hub-title {
  margin-left: 2em;
  margin-bottom: 1em;
  background: transparent
}

.bu-hub-areas-checkbox {
  margin: 0 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: transparent;
}

.bu-hub-areas-checkbox > section {
  display: flex;
  justify-content: center;
  background: transparent;
  font-size: 20px;
  gap: 1em;
}

.bu-hub-areas-checkbox > label {
  background: transparent
}

.first-row-child > p {
  font-weight: bold;
  background: transparent
}


.first-row > div {
  display: flex;
  gap: 1em;
  flex-direction: column;
  background: transparent;
}

.second-row-child > p {
  font-weight: bold;
}


.second-row > div {
  display: flex;
  gap: 1em;
  flex-direction: column;
  background: transparent;
}

.third-row-child > p {
  font-weight: bold;
}


.third-row > div {
  display: flex;
  gap: 1em;
  flex-direction: column;
  background: transparent;
}

@media (max-width: 750px){
  .bu-hub-areas-checkbox > section {
    display: flex;
    justify-content: center;
    background: transparent;
    font-size: 20px;
    gap: 1em;
    flex-direction: column;
  }
}



/* Required Courses Input Message */
.require-courses-input {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin-top: 2em;
  background: transparent;
}

.require-courses-input  p {
  width: 60vw;
  background: transparent;
}

.input-bottom {
  width: 80%;
  margin-right: 2em;
  background: transparent;
  padding: .4em;
  border-radius: 4px;
}

.schedule {
  background: transparent
}

.schedule button {
  margin-top: 1em;
  color: white;
  background-color: #e95252;
  padding: .8em;
  border-radius: 4px;
  transition: 300ms;
}

.schedule button:hover {
  margin-top: 1em;
  color: white;
  background-color: #c73434;
  padding: .8em;
  border-radius: 4px;
}


/* Data Presented From Database */
.database-container {
  background: transparent;
  display: flex;
  justify-content: center;
  margin: 0 5em;
}

.database-container div {
  background: transparent;
}





/* Footer */
.coursearch-footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  padding: 4em 0;
}

.coursearch-footer .container {
  max-width: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}


.coursearch-footer-links {
  display: flex;
  gap: 5em;
  list-style: none;
  background-color: transparent
}

@media (max-width: 650px) {
  .coursearch-footer-links {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}

.coursearch-footer-links a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: transparent
}

.coursearch-footer-links li {
  background-color: transparent

}

.coursearch-footer-branding {
  background-color: transparent;
}

.coursearch-footer-copyright {
  padding: 3em 0 3em 0;
  background: transparent
}

.coursearch-footer-copyright p {
  background: transparent;
  color: rgb(139, 139, 139);
  font-weight: 100;
}
