* {
  margin: 0;
  padding: 0;
  background: rgba(231, 246, 252, 0.179);
  font-family: 'Roboto', sans-serif;
}

/* Header */
.coursearch-masthead {
  border-top: 5px solid rgb(232, 10, 10);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.coursearch-masthead-branding {
  padding: 4em 2em;
  margin: 0 8em 2em 8em;
  min-width: 80vw;
  font-size: 1.5em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.coursearch-masthead-branding a {
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  color: black;  
}

.coursearch-masthead-branding span {
  font-weight: 500;
}


/* Main Description */
.coursearch-main { 
  width: 100vw;
  min-width: 5vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coursearch-header {
  margin: 0 8em 2em 8em;
  min-width: 80vw;
  font-size: 28px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(109, 109, 109);
  text-align: center;
  font-weight: 100;

}

.description {
  min-width: 80vw;
  margin: 0 20em 2em 20em;
  font-size: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  font-weight: 100;
}

/* Course Search Field */
.coursearch-searchfields {
  min-width: 80vw;
  padding: 3em 0;
  margin: 0 3em 1em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 204, 209, 0.305);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.209);
  border: 1px solid rgba(255, 255, 255, 0.283);
  border-radius: 6px;
}

@media (max-width: 700px) {
  .coursearch-searchfields {
    display:block;
  }
}


.searchbar {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1em 2em;
  gap: 20px;
}

.searchbar label {
  background-color: transparent;
}

.searchbar section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.searchbar input {
  border-radius: 5px;
  padding: 6px
}

.coursearch-searchfields-keyword-field {
  min-height: 2em;
}

.coursearch-searchfields-semester-select {
  min-height: 2em;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1em 2em;

}

.search {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1em 2em;
}

.search button {
  cursor: pointer;
}

/* Additional Information */
.additional-info {
  min-width: 80vw;
  padding: 3em 0;
  margin: 0 3em 10em 3em;
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: rgba(196, 204, 209, 0.305);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.209);
  border: 1px solid rgba(255, 255, 255, 0.283);
  border-radius: 6px;
  flex-direction: column;
}

.additional-info button {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: rgb(211, 54, 54);
  cursor: pointer;

}

.additional-info button:hover {
  text-decoration: underline;
}

.additional-info strong {
  background-color: transparent;
}




/* Additinal Info Dropdown */
.hidden-dropdown-menu {
  min-width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.additional-info-dropdown {
  display: none;
  display: flex;
  flex-direction: column;
}

.additional-dropdown-input-first-section {
  display: flex;
  justify-content: center;
  background: transparent
}

.additional-dropdown-options-first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.additional-searchbar {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 1em 2em;
  gap: 20px;
  width: 60%;
}

.additional-searchbar label {
  background-color: transparent;
}

.additional-searchbar section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.additional-searchbar input {
  border-radius: 5px;
  padding: 6px
}



.outter-checkbox-container {
  display: flex;
  background: transparent;
  min-width: 80vw;
  justify-content: center;
  height: 20em;
}

.inner-checkbox-container {
  width: 65vw;
  background: transparent;
  /* outline: 1px red solid; */

}

.inner-checkbox-container label {
  width: 4em;
  height: 2em;

  /* outline: 1px black solid; */
}





/* COLLEGES */
.colleges {
  margin-left: 6em
}




/* BU HUB AREAS */
.bu-hub-areas {
  /* outline: 1px black solid; */
  margin: 4em 10em;
  min-width: 80vw;
  background: transparent;
}

.bu-hub-areas h2{
  margin-left: 1em

}

.bu-hub-areas-checkbox {
  gap: 3em;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: transparent;
}

.bu-hub-areas-checkbox p {
  font-weight: bold;
  margin: 0;
}

.first-row{
  display: flex;
  justify-content: center;
  background: transparent;
  gap: 2em;
}

.first-row-child {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 10px;
}

.second-row{
  display: flex;
  justify-content: center;
  background: transparent;
  gap: 2em;

}


.second-row-child {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 10px;
}

.third-row{
  display: flex;
  justify-content: center;
  background: transparent;
  gap: 2em;

}

.third-row-child {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 10px;
}




/* Required Courses Input Message */
.require-courses-input {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 1em 16em;
  /* outline: 1px blue solid; */
}



/* Data Presented From Database */
.database-container {
  background: transparent;
  display: flex;
  justify-content: center;
  margin: 0 5em;
}

.database-container div {
  background: transparent;
}




/* Footer */
.coursearch-footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  padding: 4em 0;
}

.coursearch-footer .container {
  max-width: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}


.coursearch-footer-links {
  display: flex;
  gap: 5em;
  list-style: none;
  background-color: transparent
}

@media (max-width: 650px) {
  .coursearch-footer-links {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}

.coursearch-footer-links a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: transparent
}

.coursearch-footer-links li {
  background-color: transparent

}

.coursearch-footer-branding {
  background-color: transparent;
}

.coursearch-footer-copyright {
  padding: 3em 0 3em 0;
  background: transparent
}

.coursearch-footer-copyright p {
  background: transparent;
  color: rgb(139, 139, 139);
  font-weight: 100;
}
